.navbar-brand { 
    margin: 0 auto;
    font-size: 60px;
}

.searchBar {
    float: left;
    width: 400px;
    height: 520px;
    border: 1px solid rgb(255, 255, 255, .3);
    padding: 10px;
    margin: 5px;
}


label {
    color: white;
}

.card-body {
    margin: 10px;
}

.icon, .card-title {
    display: inline;
}

.badge {
    height: 30px;
    width: 60px;
    font-size: 16px;
   
}

.forecast {
    height: 150px;
    width: 150px;
    float: left;
    margin: 7px;
}

.forecastTitle {
    padding-left: 30px;
}

.dayIcon {
    height: 50px;
    width: 50px;
}